<div id="sidebar">
  <h3><a href="http://cocoaheads.org/">What is CocoaHeads?</a></h3>
  <p>CocoaHeads Atlanta is a chapter of the <span style="font-weight: bold;">CocoaHeads: International Cocoa Club</span>.</p>
  <p>For more information please visit <%= link_to "cocoaheads.org", "http://cocoaheads.org/" %>.</p>
  <h3>Mailing Lists</h3>
  <p>Subscribe to our <%= link_to "announcement mailing list", "http://lists.cocoaheadsatlanta.org/mailman/listinfo/announce" %> if you would like email notifications of upcoming meetings and other annoucments.</p>
  <p>We also provide an optional <%= link_to "chatter list", "http://lists.cocoaheadsatlanta.org/mailman/listinfo/chatter" %> for group member discussions.</p>
  <h3>Contact Us</h3>
  <p>You may also contact the <a href="mailto:organizer@cocoaheadsatlanta.org">group organizer</a> if you have any questions about this group, or are having any site registration or sign in issues.</p>
  <p>Follow us on Twitter:<br /><%= link_to "@CHAtl", "http://www.twitter.com/CHAtl" %></p>
  <h3>Calendar</h3>
  <p>For your convenience we also provide a web calendar:<br />
    <%= link_to "Subscribe", "webcal://www.cocoaheads.org//us/AtlantaGeorgia/events.ics" %>
  </p>
</div>
